:root{
    --text-color:black;
    --bg-nav:rgba(255,255,255,0.9);
    --search-border:black;
   --bg-about:rgba(255,255,255,0.5);
   --bg-list:rgba(255,255,255,0.50);
   --bg-list-header:rgba(255,255,255,0.75);
   --bg-dropdown:rgba(255,255,255,0.5);
   --dropdown-text:black;
   --dropdown-hover:rgba(255,255,255,1);
   --bg-similar:rgba(255,255,255,0.5);
   --bg-recent:rgba(255,255,255,0.5);
   --bar:red;
   --bg-play:rgba(255,255,255,0.9);
}
body{
    padding:0px;
    margin:0px;
    color:white;
    color:var(--text-color);
    background-image:url('../bg2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h4{
    font-weight: 800;
    font-family: Poppins,Lato,sans-serif ;
}

h5{
    font-weight: 900;
    color:#a9a9a9;
}
/******************Nav Bar(Menu)********/

#nav-bar{
    display:flex;
    position: fixed;
    top:0px;
    z-index: 100;
    width: 100%;
    font-weight: 800;
    padding:0.5rem;
    background-color: rgb(100, 20, 240);
    background-color: var(--bg-nav);
    justify-content: space-between;
    align-items: center;

}

#logo-container{
    display: flex;
    align-items: center;
}
#logo-container #logo img{
    max-height:4rem;
}
#title-name h4{
    font-size: 2rem;
}
.nav-link:hover{
    border-bottom: 2px solid red;
}
#search{
    padding:1rem;
    border-radius: 24px;
    border:1px solid;
    display:none;
    border-color: white;
    border-color:var(--search-border);
}
#search input{
    font-size: 1rem;
    line-height: 1rem;
    border:transparent;
    background-color:transparent;
}

#search input:focus{
    outline:none;
}
#user-container{
    display: flex;
    align-items: center;
}
#user-container i{
    padding:0rem 0.5rem;
    font-size: 1.5rem;
}
#user-profile-icon{
    display:none;
}
#user-profile-icon img{
    padding:0rem 1rem;
    border-radius: 50%;
    max-height: 10vh;
    max-width: 100px;
}
#menu-icon{
    font-size:2rem;
    padding:0px 2rem;
}
/***************Main Container*************/
#main-container{
    margin-top:12vh;
    width:100%;
    display:flex;
    background-color: darkblue;
    background-color: var(--bg-main);
}

/**************Content Container**************/
#content-container{
    width:100%;    
}

#content-container {
    margin-bottom: 10vh;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#content-container::-webkit-scrollbar {
    display: none;
}  
/* Hide scrollbar for Chrome, Safari and Opera */
aside::-webkit-scrollbar {
    display: none;
}  


/******************About Section**************/

#about,header{
    display:flex;
    justify-content: space-between;
}
#about{
    margin:1rem;
    border:1px solid white;
    background-color: rgb(25, 48, 177);
    background-color: var(--bg-about);
}
#main-image{
    width:100%
}
#main-image img{
    width:100%;
}
#main-image{
    display: none;
}
article{
    width:100%;
    position: relative;
    min-height: 40vh;
    background-image: url(../images/albums/lover\(tayler\ swift\).png);
    background-size: 100% 100%;
    
}
#title-container{
    padding:1rem;
}

#title-container p{
    margin:0px;
    font-weight:bolder;
    font-size: 0.8rem;
}

#info{
    font-size: 1.2rem;
    font-weight: 400;
    padding:0rem 1rem;
}
#social{
    position:absolute;
    bottom:0px;
    width:100%;
    color:whitesmoke;
    display: flex;
    justify-content: space-evenly;
    padding:0.5rem;
}
#social div{
    margin:0px 1rem;
    padding:0.3rem;
    border-radius: 3px;
    background-color: rgb(36, 36, 160);
}
#social div:hover{
    background-color: red;
}
/***********************Play List*************/
#play-list{
    margin:1rem;
}
.list{
    display: flex;
    box-sizing: border-box;
    margin:0.3rem;
    border:1px solid white;
    box-shadow: 0 15px 35px rgba(255,255,255,0.05);
    border-radius: 10px;
    justify-content: space-between;
    background-color:rgb(91, 79, 196);
    background-color: var(--bg-list);
}

.name-image {
    display:flex;
    align-items: center;
    flex-direction: row;
}
.name-image div{
    padding: 0rem 0.3rem;
}
.list-image{
    height: 10vh;
    width:15%;
}
.list-image img{
    height:100%;
    width:100%;
}
.list-icon{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:1.5rem;
}
.list-icon i{
   padding:0rem 0.5rem;
}
.fa-heart:hover{
    color: red;
}
.list-image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 1s, filter 0.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(100%);
}
.list-image i{
    position:absolute;
    font-size:2rem;
    transition: 1s, filter 0.5s ease-in-out;
    opacity: 0;
    color:white;
    filter: brightness(0%);
}
#play-list .list:hover{
    position: relative;
    margin:1rem;
}

.list-image:hover img{
    filter: brightness(60%);
}

.list-image:hover i{
    opacity: 1;
    filter: brightness(100%);
}

/**************Aside Section***************/
aside{
    width:30%;
    display:none;
    margin-top: 2vh;
}
 
/***************Similar Artists Section*******/
#similar{
    padding:0.3rem;
    margin:0.3rem;
    border-radius: 10px;
    background-color: var(--bg-recent);
}
#similar header{
    display: flex;
    padding:1rem;
    border-radius: 10px;
    margin:0.3rem;
    background: rgb(8, 32, 83);
    background-color: var(--bg-list-header);
}
#similar .list .name-image .list-name{
    padding:0rem 1rem;
}
#similar .name-image div{
    padding:0px;
}
#similar img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.dot{
    display:flex;
    align-items: center;
    padding:0rem 1rem;
}
.dropdown{
    position:relative;
}

.dropbtn:hover + .dropdown-list{
    display:block;
} 

.dropdown-list{
    display:none;
    width:180px;
    background-color:rgb(36, 9, 160);
    background-color: var(--bg-dropdown);
    position:absolute;
    right:0px;
}

.dropdown-list:hover{
    display:block;
}

.dropdown-list a{
    display:block;
    color:whitesmoke;
    color:var(--dropdown-text);
    border-bottom:1px solid whitesmoke;
    text-decoration: none;
    margin:0px;
    padding:2px;
}
.dropdown-list a:last-child{
    border-bottom:1px solid transparent;
}
.dropdown-list a:hover{
    background-color: rgb(84, 84, 85);
    background-color: var(--dropdown-hover);
}
.dropdown-list a i{
    padding:0px 10px;
    color:black;
}

/*************Recently Played************/
#recent{
    padding:0.3rem;
    margin:0.3rem;
    border-radius: 10px;
    background-color: var(--bg-recent);
}
#recent header{
    display: flex;
    padding:1rem;
    border-radius: 10px;
    margin:0.3rem;
    background-color:rgb(9, 36, 94);
    background-color: var(--bg-list-header);
}
/****************Player(footer)**************/


#play-container{
    width:100%;
    position: fixed;
    bottom:0px;
    display: flex;
    flex-direction: column;
}

#bar{
    width:30%;
    height: 0.5vh;
    background-color: red;
    background-color: var(--bar);
}

#play-image-container{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: darkblue;
    background-color: var(--bg-play);

}
#play-image{
    width:80%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#play-image img{
    padding:0.5rem;
    border-radius: 10px;
    box-sizing: border-box;
    height: 100%;
}

#play-container i{
    font-size:1.5rem;
    padding:0rem 1.5rem;
}

/**************Media Queries****************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     .hide{
         display: none;
     }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
    .hide{
        display: none;
    }

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
    #menu-icon{
        display:none;
    }
    .hide{
        display:none;
    }
    #search,#user-profile-icon{
        display:block;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .hide{
        display: inline-flex;
    }

    #play-image{
        width:15%;
    }
    article .hide{
        display:none;
    }
    #content-container{
        width:70%;
    }

   aside{
        display: block;
    }
    #menu,#menu-icon{
        display:none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    article #info{
        font-size: 1rem;
        display:block;
    }
    #main-image{
        width:40%;
        display: block;
    }
    article{
        background:transparent;
    }
}

/***************Common**********/

h2,h3,h4,h5{
    margin:0px;
}